doctype html
html
    head
        meta(charset='UTF-8')
        title
            block title
                | Welcome!
        block stylesheets
        link(rel='icon', type='image/x-icon', href=asset('favicon.ico'))
    body
        block body
        block javascripts