<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    </head>
    <body>

        <nav>
            <div class="nav-wrapper">
                <a href="{{ path('homepage') }}" class="brand-logo center">Newslator</a>
                <ul id="nav-mobile" class="right hide-on-small-and-down">
                    <li><a href="{{ path('homepage') }}">Frontpage</a></li>
                    <li><a href="{{ path('feed_index') }}">Feeds</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    </body>
</html>