{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

        {# Each Frontpage new #}
        {% for entry in entries %}
            <div class="col s12 m6">
                {#<h2>{{ entry.publisherName }}</h2>#}
                {% include 'feed/card.html.twig' with entry %}
            </div>
        {% endfor %}

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .card-image.no-image {
            min-height: 200px;
            background-color: #597af5;
        }
        .card .card-image .card-title {
            font-weight: bold !important;
            text-shadow: 0px 0px 3px #000;
        }
    </style>
{% endblock %}