{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feed edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        {# Cancel and save buttons #}
        <div class="right">
            <a href="{{ path('feed_show', { 'id': feed.id }) }}" class="waves-effect waves-teal btn-flat">Cancel</a>
            <button class="btn waves-effect waves-light" type="submit" name="action">Save
                <input type="submit" value="" class="hide-hack"/>
            </button>
        </div>
    {{ form_end(edit_form) }}

{% endblock %}

{% block actions %}

{% endblock %}

{% block stylesheets %}
<style>


</style>
{% endblock %}


